html {
    background: skyblue;
    box-sizing: border-box;
    height: 100%;
    /* margin: auto; */
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.add_new_entry-section {
    margin-top: 3%;
    padding: 50px;
    text-align: center;
    color: white;
  }

  /* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    justify-content: center;
    margin-top: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-top: -4%; */
    color:grey;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin-top: -4%;
  }

  
  /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
}
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .flex-container {
    -ms-flex-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

  h1 {
    font-size: 60px;
    text-align: center;
    /* margin: 2%; */
    margin-top: -1%;
  }

  h2 {
    font-size: 70px;
  }

  style {
    height: 100%;
    width: 100%;
    size: 900px;
  }



.form{
    width:985px; 
    margin-left: 18%;
    font-size: 30px;
  }

.button {
    margin-top: 2%;
    font-size: 30px;
    transform: translateX(-50%);
    margin-left: 50%;
    /* position: relative; */ 
    
  }

.City_name{
    height: 30px;
    position:fixed;
    left: 50%; /* center on x direction */
    transform: translateX(-50%);
    height: 50px;
  }

.State_Abb{
    height: 30px;
    position:fixed;
    left: 50%; /* center on x direction */
    transform: translateX(-50%);
    height: 50px;
  }

.Zip_Code{
    height: 30px;
    position:fixed;
    left: 50%; /* center on x direction */
    transform: translateX(-50%);
    height: 50px;
  }

label{
  font-size: 30px;
  left: 180px;
  justify-content: center;
  margin-left: -15%;
}

input[type="text"]
{
    font-size:24px;
}

p{
  font-size: 30px;
}
.box{
  height: -50%;
}
h3 {
  font-size: 50px;
  text-align: center;
  margin: 2%;
  color: white;
}
