html {
    background: skyblue;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.compare_weather_climate-section {
    margin-top: 3%;
    padding: 50px;
    text-align: center;
    color: white;
  }

  /* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
   
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #1e6892;
    color: white;
  }

  /* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    justify-content: center;
    margin-top: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color:grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    justify-content: center;
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav {
    -ms-flex-align: center;
    display: flex;
    justify-content: center;
  }

  h2 {
    font-size: 70px;
  }

  p{
    font-size: 18px;
  }

  .form{
    width:985px; 
    margin-left: 45%;
    font-size: 30px;
  }

  .button{
    margin-top: 2%;
    font-size: 30px;
  }

  .location_1_box{
    height: 30px;
    position:fixed;
    left: 50%; /* center on x direction */
    transform:translateX(-50%);
    height:50px;
  }

  .location_2_box{
    height: 30px;
    position:fixed;
    left: 50%; /* center on x direction */
    transform:translateX(-50%);
    height:50px;
  }

p{
  font-size: 30px;
}

input[type="text"]
{
    font-size:24px;
}