/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    justify-content: center;
    margin-top: 1;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color:grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    margin-top: -4%;
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

   
.flex-container {
    -ms-flex-align: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
    flex-wrap: wrap;
}

h1 {
  font-size: 60px;
  text-align: center;
  /* margin: 2%; */
  margin-top: -1%;
  font-family: 'Times New Roman', Times, serif;

}

p {
  text-align: center;
  margin-top: 3%;
  font-size: 30px;
}
h3 {
  font-size: 50px;
  text-align: center;
  margin: 2%;
  color: white;
  font-weight:bolder ;
}
h4 {
  font-size: 40px;
  text-align: center;
  margin: 2%;
  color: white;
  font-family: 'Trebuchet MS'; 
}
html {
  height: 100%;
  /* margin: auto; */
  width: 100%;
}
style {
  height: 100%;
  width: 100%;
  size: 900px;
}
.block {
  height: 100%;

}
html, body {
  height: 90%;
}

.full-height {
  height: 100%;
}

.button{
  padding: 50px; 
  /* margin-left: 50%; */
  display: flex;
  /* justify-content: center; */
  flex-direction: row;

}
.box{
  height: -50%;
}
.homebutton{
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 8%;
}

